<!DOCTYPE html>
<html>
<head>
  <title>Larvata gantt</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "larvata_gantt/application", media: "all" %>
  <%= javascript_include_tag "larvata_gantt/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
